.appContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;

    max-width: 1000px;
    width: 100%;
    margin: 0 auto;

    padding: 0 var(--space-4);
}

.loader {
    display: flex;
    align-items: center;
    gap: 8px;
}
