.appContainer {
  width: 100%;
  height: 600px;
  min-height: 600px;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
  max-height: 600px;
  gap: 1rem;
}
