.appContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 1rem;
}
