{# The output of this template is a single line of text. #}
{# --- uniqueness and duplicates --- #}
{%- if unique_rate is not none -%}
    {%- if unique_rate == 1.0 -%}
        No duplicates.
    {%- elif unique_rate is not none and unique_rate <= 0.10 -%}
        {{ n_unique }} unique values.
    {%- else -%}
        Has duplicates.
    {%- endif -%}
{%- endif -%}
{{- ' ' -}}
{%- if null_rate is not none -%}
    {%- if null_rate >= 0.03 -%}
        {{ (null_rate * 100) | round(1) | int }}% NULLs.
    {%- elif null_rate > 0 -%}
        Some NULLs.
    {%- else -%}
        No NULLs.
    {%- endif -%}
{%- endif -%}
{{- ' ' -}}
{# --- numeric-related stats --- #}
{%- if min is not none and max is not none -%}
    {%- if min == max -%}
        Single constant: {{ min }}.
    {%- elif mean is not none and std is not none -%}
        Between {{ min }} and {{ max }} (mean = {{ mean | round(1) }}, std = {{ std | round(1) }}).
    {%- elif mean is not none -%}
        Between {{ min }} and {{ max }} (mean = {{ mean | round(1) }}).
    {%- else -%}
        Between {{ min }} and {{ max }}.
    {%- endif -%}
    {{- ' ' -}}
{%- endif -%}
{# --- string-related stats --- #}
{%- if min_str_len is not none and max_str_len is not none -%}
    {%- if min_str_len == max_str_len -%}
        Constant {{ max_str_len }} chars. {# The exact string dtype and null information are already included. #}
    {%- else -%}
        Between {{ min_str_len }} and {{ max_str_len }} chars (mean = {{ mean_str_len | round(1) }}).
    {%- endif -%}
    {{- ' ' -}}
{%- endif -%}
{# token count #}
{%- if mean_token_count == 1 -%}
    Single word per row.
    {{- ' ' -}}
{%- elif mean_token_count is not none -%}
    Between {{ min_token_count }} and {{ max_token_count }} words per row (mean = {{ mean_token_count | round(1) }}).
    {{- ' ' -}}
{%- endif -%}
{# syntax and punctuation stats #}
{%- if all_lowercase_rate == 1.0 or all_uppercase_rate == 1.0 or contains_numbers or contains_punctuation -%}
    {%- set text_features = [] -%}

    {%- if all_lowercase_rate == 1.0 -%}
        {% set _ = text_features.append('only lowercase chars') %}
    {%- elif all_uppercase_rate == 1.0 -%}
        {% set _ = text_features.append('only uppercase chars') %}
    {%- endif -%}
    {%- if contains_numbers -%}
        {% set _ = text_features.append('numbers') %}
    {%- endif -%}
    {%- if contains_punctuation -%}
        {% set _ = text_features.append('punctuation') %}
    {%- endif -%}

    {# If the list is not empty, print the formatted sentence #}
    {%- if text_features -%}
        {{ "May contain: " ~ text_features | join(', ') ~ "." }}{{- ' ' -}}
    {%- endif -%}
{%- endif -%}
{# sampled values: if all values are unique "the most common" does not make sense #}
{%- if sample_values is not none and unique_rate is none -%}
    Sample: {{ sample_values | join(", ") }}.
{%- elif sample_values is not none and unique_rate!=1.0 -%}
    Common values: {{ sample_values | join(", ") }}.
{%- elif sample_values is not none and unique_rate==1.0 -%}
    Sample: {{ sample_values | join(", ") }}.
{%- endif -%}